doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Node app
  body 
    header
      h1 Node App
    main
      h2 Users 
      table
        tr
          td id
          td Nombre
          td Edad
        each val in users 
          tr
            td= val.id 
            td= val.nombre
            td= val.edad